* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Fredoka', sans-serif;
    background-color: whitesmoke;
}

.wrapper {
    width: 100%;
    background-color: rgb(19, 19, 19);
}

.container {
    width: inherit;
    min-height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: center;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

.splash {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash h3 {
    font-size: 24px;
    font-weight: 300;
}

.splash h1 {
    font-size: 64px;
    font-weight: 400;
}

.btn_splash {
    height: 40px;
    width: 250px;
    font-family: inherit;
    background-color: teal;
    color: white;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;

}

.floating_button {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: teal;
    color: white;
    border: none;
    outline: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    font-weight: 800;
    transition-duration: 400ms;
}

#modal {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;

}

#addlist_form {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.139);

}

#addlist_form h3 {
    font-weight: 300;
    text-align: center;
}

.form_group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form_group label {
    font-size: 16px;
    font-weight: 300;
}

.form_group input {
    font-family: inherit;
    height: 40px;
    padding: 0 16px;
    border-radius: 15px;
    border: .5px solid gray;
}

.form_group input:focus {
    outline: 1px solid teal;
    border: none;
}

#addlist_form button {
    font-family: inherit;
    height: 40px;
    border-radius: 16px;
    border: none;
    outline: none;
    width: 30%;
    margin-left: auto;
    background-color: teal;
    color: white;
}

#modal_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.162);
    z-index: -1;
}

.title {
    text-align: center;
    font-weight: 500;

}

#subtitle {
    text-align: center;
    font-weight: 300;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.card {
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.155);
    border-radius: 12px;
    padding: 20px;
}

.card small {
    text-align: center;
    font-weight: 300;
    color: gray;
    height: 40px;
    align-items: center;
}

.card div {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.card button {
    font-family: inherit;
    height: 40px;
    width: 40%;
    background-color: teal;
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    margin-left: auto;

}